.btn{
    border-radius: 0;
    padding: 21px 25px;
    line-height: 1;
    text-transform: uppercase;
    font-weight: 500;
    font-family: $primary_font_family;
    border: none;
    font-size: 14px;
}

.btn-secondary{
    background-color: $secondary-color;
    color: #ffffff;
    border: 3px solid transparent;
    &:hover{
        color: $black-color;
        background-color: $primary-color;
        border-color: $primary-color;
    }
}

.btn-primary{
    background-color: $primary-color;
    color: $black-color;
    border: none;
    &:hover{
        color: #ffffff;
        background-color: $secondary-color;
        border: none;
    }
}

.btn-dark{
    background-color: $black-color;
    color: #ffffff;
    border: none;
    &:hover{
        background-color: $black-color;
        color: #ffffff;
        border: none;
    }
}

.btn-outline-primary{
    background-color: transparent;
    color: #ffffff;
    border: 3px solid #ffffff;
    &:hover{
        color: $black-color;
        background-color: $primary-color;
        border-color: $primary-color;
    }
}