// colors
$primary-color: #fee823;
$secondary-color: #25cdc9;
$black-color: #1f1f1f;
$gray-color: #f8f7f7;
$body-color: #7d7d7d;
$title-color: #414141;
$white-color:#e0e0e0;

// font sizes
$title-sizes: (
  "h1": 40,
  "h2": 35,
  "h3": 28,
  "h4": 22,
  "h5": 18,
  "h6": 16,
);
// font families
$primary_font_family: "Oswald", sans-serif;
$secondary_font_family: "Roboto", sans-serif;
